
<!-- Advantages -->
<section class="advantages">
    <div class="container">
    <div class="block">
    
        <h2 class="visually-hidden">Our advantages</h2>
        <div class="place">
            <ol class="offers">
                <div class="first">
                <li class="numbers list-items">01
                    <hr>
                    <p class="content-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="numbers list-items">02
                    <hr>
                    <p class="content-text">Fishing: try to catch your own dinner</p>
                </li>
            
                <li class="numbers list-items">03
                    <hr>
                    <p  class="content-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="numbers list-items">04
                    <hr>
                    <p  class="content-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
                </div>
            </ol>
        </div>
        <div class="picture-yacht">
        <picture>
            <source srcset="./images/1440/image3.jpg 1x, ./images/1440/image3@2x.jpg 2x" media="(min-width: 1440px)" />
        
            <source srcset="./images/1280/image3.jpg 1x, ./images/1280/image3@2x.jpg 2x" media="(min-width: 1280px)" />
        
            <source srcset="./images/tablet/image3.jpg 1x, ./images/tablet/image3@2x.jpg 2x" media="(min-width: 768px)"/>
        
            <source srcset="./images/mobile/image3.jpg 1x, ./images/mobile/image3@2x.jpg 2x" media="(max-width: 768px)"/>
        
            <img src="./images/1280/image3.jpg" alt="yacht">
        </picture>
    </div>
        </div>
    </section>

    
</section>
