<!-- Advantages -->
<section class="advantages">
  <div class="container">
    <div class="block">
      <h2 class="visually-hidden">Our advantages</h2>
      <div class="place">
        <ol class="offers">
          <li class="list-items">
            <span class="numbers">01</span>

            <p class="content-text">
              Swimming and water sports: try your hand at water skiing
            </p>
          </li>
          <li class="list-items">
            <span class="numbers">02</span>

            <p class="content-text">Fishing: try to catch your own dinner</p>
          </li>

          <li class="list-items">
            <span class="numbers">03</span>

            <p class="content-text">
              Sightseeing tours: take a shore or island tour, enjoy the views
              and sunsets from the water
            </p>
          </li>
          <li class="list-items">
            <span class="numbers">04</span>

            <p class="content-text">
              Rest and relaxation: read a book or listen to music while enjoying
              the outdoor atmosphere.
            </p>
          </li>
        </ol>
      </div>
      <div class="picture-yacht">
        <picture>
          <source
            srcset="
              ./img/1440/adv_desk1440@1x.webp 1x,
              ./img/1440/adv_desk1440@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/1280/adv_desk1280@1x.webp 1x,
              ./img/1280/adv_desk1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/tablet/adv_tab@1x.webp 1x,
              ./img/tablet/adv_tab@2x.webp 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/mobile/adv_mob@1x.webp 1x,
              ./img/mobile/adv_mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />

          <img src="./img/1440/adv_desk1440@1x.webp" alt="yacht" />
        </picture>
      </div>
    </div>
  </div>
</section>
