<header class="page-header container">
    <div class="header-container">
        <nav class="page-navigation">
            <a class="logo" href="./index.html">yachtjet</a>
            <ul class="list menu-list">
                <li class="menu-item">
                    <a class="menu-link about-page" href="#about">About</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#yachts">Yachts</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#reviews">Reviews</a>
                </li>
            </ul>
        </nav>
        <div class="social-media-container">
            <ul class="social-media-list">
                <li class="social-media-item">
                    <a class="social-media-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="icon-contacts" width="24" height="24" aria-label="instagram icon">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a class="social-media-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="icon-contacts" width="24" height="24" aria-label="youtube icon">
                            <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a class="social-media-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="icon-contacts" width="24" height="24" aria-label="facebook icon">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button class="menu-button" type="button">
            <svg class="icon-menu" width="28" height="28" aria-label="mobile menu open icon">
                <use href="./img/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>
