<header class="page-header">
    <div class="container">
        <a class="logo" href="./index.html">yachtjet</a>
        <nav>
            <ul class="list menu-list">
                <li class="menu-item">
                    <a href="#about">About</a>
                </li>
                <li class="menu-item">
                    <a href="#yachts">Yachts</a>
                </li>
                <li class="menu-item">
                    <a href="#reviews">Reviews</a>
                </li>
            </ul>
        </nav>
        <div class="social-media-container">
            <ul class="social-media-list">
                <li class="social-media-item">
                    <a href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="icon-contacts" width="24" height="24">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="icon-contacts" width="24" height="24">
                            <use href="./images/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media-item">
                    <a href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="icon-contacts" width="24" height="24">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button class="menu-button" type="button">
            <svg class="icon-menu" width="28" height="28">
                <use href="./images/icons.svg#icon-vector"></use>
            </svg>
        </button>
    </div>
</header>
