<div class="mobile-menu-wrapper is-open">
  <div class="mobile-menu-container">
    <div class="mobile-menu-first-nav">
      <a class="logo" href="./index.html">yachtjet</a>
      <button class="mobile-menu-close-btn" type="button" id="closeButton">
        <svg class="icon-close-menu-mobile" width="28" height="28">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-second-nav">
      <nav class="nav-mobile">
        <ul class="mobile-menu-second-nav-list">
          <li class="mobile-menu-item current-mobile-menu">
            <a class="link-mobile-menu-header" href="#about"> About </a>
          </li>
          <li class="mobile-menu-item">
            <a class="link-mobile-menu-header" href="#yachts">Yachts</a>
          </li>
          <li class="mobile-menu-item">
            <a class="link-mobile-menu-header" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="social-media-container-mobile">
      <ul class="social-media-mobile-list">
        <li class="social-media-mobile-item">
          <a
            class="social-media-mobile-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg
              class="icon-mobile-contacts"
              width="24"
              height="24"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-mobile-item">
          <a
            class="social-media-mobile-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg
              class="icon-mobile-contacts"
              width="24"
              height="24"
              aria-label="youtube icon"
            >
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-mobile-item">
          <a
            class="social-media-mobile-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg
              class="icon-mobile-contacts"
              width="24"
              height="24"
              aria-label="facebook icon"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
