<section class="section">
  <div class="container">
    <h2 class="yacht-title2" id="yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yacht">
      <li class="our-yacht-iteam">
        <picture>
          <source
            srcset="
              ./img/1440/yaht1_desk1440@1x.webp 1x,
              ./img/1440/yaht1_desk1440@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="360"
            height="268"
          />

          <source
            srcset="
              ./img/1280/yaht1_desk1280@1x.webp 1x,
              ./img/1280/yaht1_desk1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
            width="345"
            height="268"
          />

          <source
            srcset="
              ./img/tablet/yahttablet_1@1x.webp 1x,
              ./img/tablet/yahttablet_1@2x.webp 2x
            "
            media="(min-width: 768px)"
            width="304"
            height="268"
          />

          <source
            srcset="
              ./img/mobile/yahtmobile@1x.webp 1x,
              ./img/mobile/yahtmobile@2x.webp 2x
            "
            media="(max-width: 768px)"
            width="302"
            height="240"
          />

          <img
            class="imeges-yacht"
            src="./img/mobile/yahtmobile@1x.webp"
            alt="yacht"
          />
        </picture>
        <div class="general-name-yachts">
          <div class="name-yacht">Arrow</div>
          <div class="about-our-yacht">Luxury yahts</div>
        </div>

        <div class="description">
          <div class="one-column">Lenght</div>
          <div class="two-column">48m(155ft)</div>

          <div class="one-column">Builder</div>
          <div class="two-column">Admiral</div>

          <div class="one-column">Built</div>
          <div class="two-column">2021</div>

          <div class="one-column">Guests</div>
          <div class="two-column">11 in 5 cabins</div>

          <div class="one-column">Price</div>
          <div class="two-column">€33,500,000</div>
        </div>
      </li>
      <li class="our-yacht-iteam iteam-two">
        <picture>
          <source
            srcset="
              ./img/1440/yaht2_desk1440@1x.webp 1x,
              ./img/1440/yaht2_desk1440@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="360"
            height="268"
          />

          <source
            srcset="
              ./img/1280/yaht2_desk1280@1x.webp 1x,
              ./img/1280/yaht2_desk1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
            width="345"
            height="268"
          />

          <source
            srcset="
              ./img/tablet/yahttablet_2@1x.webp 1x,
              ./img/tablet/yahttablet_2@2x.webp 2x
            "
            media="(min-width: 768px)"
            width="304"
            height="268"
          />

          <img
            class="imeges-yacht"
            src="./img/1440/yaht2_desk1440@1x.webp"
            alt="yacht"
          />
        </picture>

        <div class="general-name-yachts">
          <div class="name-yacht">Benetti oasis 40m b0122</div>
          <div class="about-our-yacht">Luxury yahts</div>
        </div>

        <div class="description">
          <div class="one-column">Length</div>
          <div class="two-column">41m (133ft)</div>

          <div class="one-column">Shipyard</div>
          <div class="two-column">Benetti</div>

          <div class="one-column">Built</div>
          <div class="two-column">2025</div>

          <div class="one-column">Guests</div>
          <div class="two-column">10 in 5 cabins</div>

          <div class="one-column">Price</div>
          <div class="two-column">€23,210,000</div>
        </div>
      </li>
      <li class="our-yacht-iteam iteam-three">
        <picture>
          <source
            srcset="
              ./img/1440/yaht3_desk1440@1x.webp 1x,
              ./img/1440/yaht3_desk1440@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="360"
            height="268"
          />

          <source
            srcset="
              ./img/1280/yaht3_desk1280@1x.webp 1x,
              ./img/1280/yaht3_desk1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
            width="345"
            height="268"
          />

          <img
            class="imeges-yacht"
            src="./img/1440/yaht3_desk1440@1x.webp"
            alt="yacht"
          />
        </picture>

        <div class="general-name-yachts">
          <div class="name-yacht">Belle Anna</div>
          <div class="about-our-yacht">Luxury yahts</div>
        </div>

        <div class="description">
          <div class="one-column">Length</div>
          <div class="two-column">50m(155ft)</div>

          <div class="one-column">Shipyard</div>
          <div class="two-column">ISA</div>

          <div class="one-column">Built</div>
          <div class="two-column">2012</div>

          <div class="one-column">Guests</div>
          <div class="two-column">12 in 6 cabins</div>

          <div class="one-column">Price</div>
          <div class="two-column">€21,000,000</div>
        </div>
      </li>
    </ul>
    <div class="nav-rent-container">
      <nav class="navigation-rent-our-yachts">
        <a class="navigation-rent" href="#rent">Yacht rental</a>
      </nav>
    </div>
  </div>
</section>
