<section class="section" >
    <div class="container">
        <h2 id="yachts">Choose your dream yacht and sail away into the sunset</h2>
        <ul>
            <li>
                <picture>
                    <source srcset="../img/1440/yaht1_desk1440@1x.webp 1x, ../img/1440/yaht1_desk1440@2x.webp 2x" media="(min-width: 1440px)" />

                    <source srcset="../img/1280/yaht1_desk1280@1x.webp 1x, ../img/1280/yaht1_desk1280@2x.webp 2x" media="(min-width: 1280px)"/>

                    <source srcset="../img/tablet/yahttablet_1@1x.webp 1x, ../img/tablet/yahttablet_1@2x.webp 2x" media="(min-width: 768px)" />
                    
                    <source srcset="../img/mobile/yahtmobile@1x.webp 1x, ../img/mobile/yahtmobile@2x.webp 2x" media="(max-width: 768px)" />

                    <img src="../img/mobile/yahtmobile@1x.webp" alt="yacht">
                </picture>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Arrow</th>
                                <th scope="col">Luxury yachts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Length</th>
                                <td>48m(155ft)</td>
                            </tr>
                            <tr>
                                <th scope="row">Builder</th>
                                <td>Admiral</td>
                            </tr>
                            <tr>
                                <th scope="row">Built</th>
                                <td>2021</td>
                            </tr>
                            <tr>
                                <th scope="row">Guests</th>
                                <td>11 in 5 cabins</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td>€33,500,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <picture>
                    <source srcset="../img/1440/yaht2_desk1440@1x.webp 1x, ../img/1440/yaht2_desk1440@2x.webp 2x" media="(min-width: 1440px)" />

                    <source srcset="../img/1280/yaht2_desk1280@1x.webp 1x, ../img/1280/yaht2_desk1280@2x.webp 2x" media="(min-width: 1280px)"/>

                    <source srcset="../img/tablet/yahttablet_2@1x.webp 1x, ../img/tablet/yahttablet_2@2x.webp 2x" media="(min-width: 768px)" />

                    <img src="../img/1440/yaht2_desk1440@1x.webp" alt="yacht">
                </picture>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Benetti oasis 40m bo122</th>
                                <th scope="col">Luxury yachts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Length</th>
                                <td>41m (133ft)</td>
                            </tr>
                            <tr>
                                <th scope="row">Shipyard</th>
                                <td>Benetti</td>
                            </tr>
                            <tr>
                                <th scope="row">Built</th>
                                <td>2025</td>
                            </tr>
                            <tr>
                                <th scope="row">Guests</th>
                                <td>10 in 5 cabins</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td>€23,210,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <picture>
                    <source srcset="../img/1440/yaht3_desk1440@1x.webp 1x, ../img/1440/yaht3_desk1440@2x.webp 2x" media="(min-width: 1440px)" />

                    <source srcset="../img/1280/yaht3_desk1280@1x.webp 1x, ../img/1280/yaht3_desk1280@2x.webp 2x" media="(min-width: 1280px)"/>

                    <img src="../img/1440/yaht3_desk1440@1x.webp" alt="yacht">
                </picture>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Belle Anna</th>
                                <th scope="col">Luxury yachts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Length</th>
                                <td>50m(155ft)</td>
                            </tr>
                            <tr>
                                <th scope="row">Shipyard</th>
                                <td>ISA</td>
                            </tr>
                            <tr>
                                <th scope="row">Built</th>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <th scope="row">Guests</th>
                                <td>12 in 6 cabins</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td>€21,000,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <a href="#Rent a yacht">Yacht rental</a>
    </div>
</section>