<section class="reviews-section section">
  <div class="reviews-container container">
    <h2 class="reviews-title" id="reviews">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-title-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-list">
      <div class="reviews-list-item-card">
        <li class="reviews-list-item">
          <picture>
            <source
              srcset="
                ./img/1440/rev_desc_14_1@1x.webp 1x,
                ./img/1440/rev_desc_14_1@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/1280/rev_desc_12_1@1x.webp 1x,
                ./img/1280/rev_desc_12_1@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/tablet/rev_tab_1@1x.webp 1x,
                ./img/tablet/rev_tab_1@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/mobile/rev_mob@1x.webp 1x,
                ./img/mobile/rev_mob@2x.webp 2x
              "
              media="(max-width: 768px)"
            />

            <img src="./img/1280/rev_desc_12_1@1x.webp" alt="yacht" />
          </picture>
          <h3 class="reviews-list-item-title">John Wax</h3>
          <p class="reviews-list-item-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </li>
      </div>
      <div class="reviews-list-item-card tablet">
        <li class="reviews-list-item">
          <picture>
            <source
              srcset="
                ./img/1440/rev_desk_14_2@1x.webp 1x,
                ./img/1440/rev_desk_14_2@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/1280/rev_desc_12_2@1x.webp 1x,
                ./img/1280/rev_desc_12_2@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/tablet/rev_tab_2@1x.webp 1x,
                ./img/tablet/rev_tab_2@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <img src="./img/tablet/rev_tab_2@1x.webp" alt="yacht" />
          </picture>
          <h3 class="reviews-list-item-title">Victoria Romashenko</h3>
          <p class="reviews-list-item-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </li>
      </div>
      <div class="reviews-list-item-card tablet desktop">
        <li class="reviews-list-item">
          <picture>
            <source
              srcset="
                ./img/1440/rev_desc_14_3@1x.webp 1x,
                ./img/1440/rev_desc_14_3@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/1280/rev_desc_12_3@1x.webp 1x,
                ./img/1280/rev_desc_12_3@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />

            <img src="./img/1280/rev_desc_12_3@1x.webp" alt="yacht" />
          </picture>
          <h3 class="reviews-list-item-title">Ihor Trachuk</h3>
          <p class="reviews-list-item-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
