/*  */
ol {
    list-style-type: none;
}


.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}

.place {

    max-width: 335px;
    padding: 80px 20px 80px 20px;
    border-radius: 24px;
    background: #1B414B;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}



.numbers {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 100% */
    letter-spacing: -1.4px;
}

.content-text {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: -0.24px;
    opacity: 0.8;
}

.list-items hr {
    width: 295px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 18px;
    color: rgba(251, 251, 251, 0.10);
    border-color: rgba(251, 251, 251, 0.10);
    margin: 0;

}

.list-items {
    width: 295px;
    display: inline-flex;
    flex-direction: column;
    gap: 18px;
    margin: 0 auto;
}

.picture-yacht picture {
    min-width: 320px;
    max-width: 335px;
}

.picture-yacht img {
    border-radius: 24px;

}

@media screen and (min-width: 768px) {
    .block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 75px 0;
    }

    .place {
        width: 704px;
        padding: 90px 32px;
        max-width: none;
    }

    .offers {
        display: flex;
        flex-direction: row;
        gap: 32px;
        row-gap: 44px;
        flex-wrap: wrap;
    }

    .list-items hr {
        width: 304px;
    }

    .numbers {
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -1.6px;
    }

    .content-text {
        font-size: 13px;
        line-height: 115%;
        letter-spacing: -0.26px;
    }

    .picture-yacht picture {
        min-width: none;
        width: 704px;
        max-width: none;
    }
}

@media screen and (min-width: 1280px) {
    .block {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 75px 0;
    }

    .place {
        width: 716px;
        padding: 90px 50px;
        max-width: none;
    }

    .offers {
        display: flex;
        flex-direction: row;
        gap: 32px;
        row-gap: 44px;
        flex-wrap: wrap;
    }

    .list-items hr {
        width: 280px;
        margin: 0;
    }

    .list-items {
        width: 280px;
    }

    .picture-yacht picture {
        width: 432px;
    }
}

@media screen and (min-width: 1440px) {
    .block {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 75px 0;
    }

    .place {
        width: 768px;
    }


    .list-items hr {
        width: 318px;
        margin: 0;
    }

    .list-items {
        width: 318px;
    }

    .picture-yacht picture {
        width: 540px;
    }
}