body {
    font-family: 'Inter', sans-serif;
    background-color: #0E1823;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    max-width: 335px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .container {
        min-width: 704px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .container {
        min-width: 1180px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {

    .container {
        min-width: 1340px;
        margin: 0 auto;
    }
}

.back-ground-img {}