body {
    font-family: 'Inter', sans-serif;
    background-color: #0E1823;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .container {
        max-width: 704px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1280px) {
    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 20px;
    }
}





.back-ground-img {
    background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/mobile/bg_mob@1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
border:none;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-device-pixel-ratio: 2) {
    .back-ground-img {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/mobile/bg_mob@2x.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        border:none;
    }
}

@media screen and (min-width: 768px) {
    .back-ground-img {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/tablet/bg_tablet@1x.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        border:none;
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
        .back-ground-img {
            background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/tablet/bg_tablet@2x.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
            border:none;
        }
    }
}

@media screen and (min-width: 1280px) {
    .back-ground-img {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1280/bg_desctop_1280@1x.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        border:none;
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
        .back-ground-img {
            background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1280/bg_desctop_1280@2x.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
            border:none;
        }
    }
}

@media screen and (min-width: 1440px) {
    .back-ground-img {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1440/bg_desctop_1440@1x.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        border:none;
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
        .back-ground-img {
            background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1440/bg_desctop_1440@2x.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            border:none;
        }
    }
}
