.footer-all {
    padding-top: 40px;
    padding-bottom: 0;

}

.footer-container {
    padding: 40px 30px 20px;
    border-radius: 24px 24px 0px 0px;
    background-color: #1B414B;
    max-width: 355px;
    height: 412px;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    gap: 4px;
}

.footer-block-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-logo {
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
}

.footer-nav-item {
    display: block;
    width: 66px;
    height: 40px;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    color: #FBFBFB;
    line-height: 1.3;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: rgba(251, 251, 251, 0.30);
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

.footer-social-link {
    fill: #FBFBFB;
}

.footer-slogan {
    color: #FBFBFB;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 279px;
    margin: 0 auto 82px;
}

.footer-last-line {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.privacy-policy-link {
    color: rgba(251, 251, 251, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    
    .footer-all {
        padding-top: 75px;
    }

    .footer-container {
        padding: 50px 48px 20px;
        max-width: 736px;
        height: 418px;
        position: relative;
    }

    .footer-top-line {
        display: flex;
        justify-content: space-between;
    }

    .footer-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-nav-item {
        width: 91px;
    }

    .footer-social-list {
        margin-bottom: 0;
    }

    .footer-block-nav {
        margin-bottom: 112px;
    }

    .footer-slogan {
        min-width: 640px;
        font-size: 32px;
        margin-bottom: 99px;
    }

    .footer-logo {
        font-size: 20px;
    }

    .privacy-policy-link {
        font-size: 14px;
        line-height: 1.18;
    }
}

@media screen and (min-width: 1280px) {

    .footer-container {
        padding: 50px 75px 20px;
        max-width: 1230px;
    }

    .footer-slogan {
        min-width: 693px;
    }

    .footer-nav-item {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-nav-item:hover,
    .footer-nav-item:focus {
        background-color: #FBFBFB;
        color: #1B414B;
    }
    
    .footer-social-link {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-social-link:hover,
    .footer-social-link:focus {
        fill: rgba(251, 251, 251, 0.8);
    }
}

@media screen and (min-width: 1440px) {
    
    .footer-container {
        max-width: 1390px;
    }
}