/* ============== HERO MOB ============== */
.size-section {
    background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(/img/mobile/bg_mob@1x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .size-section {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(/img/mobile/bg_mob@2x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

}

.size-section {
    margin: 0 auto;

}

.hero-title {
    color: #FBFBFB;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

.hero-content {
    color: rgba(251, 251, 251, 0.70);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.17;
    margin-left: auto;
    margin-right: auto;
    max-width: 335px;
    padding-bottom: 38px;
}

.hero-link {
    display: block;
    background: #1B414B;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    width: 141px;
    height: 46px;
    border: none;
    border-radius: 15px;
    padding: 14px 32px;
}

@media screen and (max-width: 767px) {
    .size-section {
        padding-bottom: 283px;
        padding-top: 260px;
    }

}

/* ============== /HERO MOB ============== */

/* ============== HERO TABLET ============== */
@media screen and (min-width: 768px) {

    .size-section {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(/img/tablet/bg_tablet@1x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .size-section {
            background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(/img/tablet/bg_tablet@2x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .size-section {
        padding-top: 280px;
        padding-bottom: 265px;
    }

    .hero-title {
        font-size: 70px;
        font-weight: 500;
        line-height: 70px;
        letter-spacing: -0.02em;
        max-width: 704px;
    }

    .hero-content {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        width: 597px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 48px;
        max-width: 597px;
    }

    .hero-link {
        padding: 16px 40px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        width: 179px;
        height: 52px;
    }
}

/* ============== /HERO TABLET ============== */

/* ============== HERO DESCTOP ============== */

@media screen and (min-width: 1280px) {

    .size-section {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1280/bg_desctop_1280@1x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .size-section {
            background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1280/bg_desctop_1280@2x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .size-section {
        padding-top: 235px;
        padding-bottom: 230px;
        max-width: 1280px;
    }

    .hero-title {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -0.02em;
        max-width: 1001px;
    }

}

@media screen and (min-width: 1440px) {

    .size-section {
        background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1440/bg_desctop_1440@1x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .size-section {
            background: linear-gradient(359deg, rgba(17, 19, 31, 0.80) 42.62%, rgba(17, 19, 31, 0.31) 84.12%, rgba(17, 19, 31, 0.00) 99.94%), url(../img/1440/bg_desctop_1440@2x.webp), lightgray -363.632px -322.699px / 294.966% 170.401% no-repeat;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .size-section {
        max-width: 1440px;
    }

}

/* ============== /HERO DESCTOP ============== */